@using BugPoint.Common
@model BugPoint.ViewModel.Bugs.EditBugReplyViewModel
@{
    Layout = "_LayoutUser";
}
<form autocomplete="off" asp-controller="MyBug" asp-antiforgery="true" id="bugform" enctype="multipart/form-data" asp-action="EditReply" method="post">
    <div class="col-md-12">
        <div class="card card-cyan card-outline">
            <div class="card-header">
                <h3 class="card-title">Edit Bug Reply</h3>
            </div>
            <div class="card-body register-card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <input asp-for="BugReplyId" type="hidden" />
                <input asp-for="BugId" type="hidden" />
                <input asp-for="BugReplyDetailsId" type="hidden" />
                <div class="form-row">
                    <div class="form-group col-md-12">

                        <textarea asp-for="Description" placeholder="Description" class="form-control" required="required"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input name="file1" id="file1" onchange="ValidateDocumentFile(this);" type="file" />
                    </div>
                    <div class="form-group col-md-3">
                        <input name="file2" id="file2" onchange="ValidateDocumentFile(this);" type="file" />
                    </div>
                    <div class="form-group col-md-3">
                        <input name="file3" id="file3" onchange="ValidateDocumentFile(this);" type="file" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" id="btnsubmit" class="btn btn-success"> <i class="fas fa-check-circle"></i> Submit</button>
                @if ((int)ViewBag.Currentrole == (int)RolesHelper.Roles.DeveloperTeamLead)
                {
                    <a asp-area="" class="btn btn-primary" asp-controller="MyBuglist" asp-action="AllReportedBugs"><i class="fas fa-ban"></i> Cancel</a>
                }
                else
                {
                    <a asp-area="" class="btn btn-primary" asp-controller="MyBuglist" asp-action="Show"><i class="fas fa-ban"></i> Cancel</a>
                }

            </div>
        </div>

        <div class="card card-cyan card-outline">
            <div class="card-header">
                <h3 class="card-title">Bug Attachments</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="card-body register-card-body">
                @if (Model.ListofAttachments != null)
                {
@if (Model.ListofAttachments.Any())
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Attachment</th>
                    <th>Download</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var attachment in Model.ListofAttachments)
                {
                    <tr>
                        <td>@attachment.OriginalAttachmentName</td>
                        <td>
                            <a class="btn btn-primary"
                               data-toggle="tooltip" data-placement="top"
                               title="Download Attachment !" onclick="downloadAttachment('@Model.BugId', '@attachment.ReplyAttachmentId')" href="javascript:void(0);"> <i class="fa fa-download"></i> Download </a>

                        </td>
                        <td>
                            <a data-toggle="tooltip"
                               data-placement="top"
                               title="Delete Attachment !"
                               class="btn btn-danger" onclick="deleteAttachment('@attachment.ReplyAttachmentId', '@Model.BugId')" href="javascript:void(0);"> <i class="fa fa-trash"></i> Delete </a>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
}
else
{
            <p> No Attachments</p>
}
                }

            </div>
        </div>
    </div>
</form>

<script src="~/js/ckeditor/ckeditor.js"></script>
<script asp-append-version="true" src="~/Scripts/custom/validate.file.js"></script>

@section Scripts
{
    <script type="text/javascript">
        CKEDITOR.replace('Description', { htmlEncodeOutput: true });

        $("#btnsubmit").click(function () {
            if ($('#bugform').valid()) {

                var textboxData = CKEDITOR.instances.Description.getData();
                if (textboxData === '') {
                    $.alert({
                        title: 'Validation!',
                        content: 'Enter Bug Description.',
                        type: 'red'
                    });
                } else {
                    $.confirm({
                        title: 'Confirmation!',
                        type: 'green',
                        content: 'Do you want to Update Details ?',
                        buttons: {
                            confirm: function () {
                                $("#loader").show();
                                $('#bugform').submit();
                            },
                            cancel: function () {
                                $.alert('Canceled!');
                            }
                        }
                    });
                }
            }
        });

        function downloadAttachment(bugId, attachmentsId) {
            window.location = "/MyBugDetails/DownloadReplyAttachment?bugId=" + bugId + "&AttachmentId=" + attachmentsId;
        }

        function deleteAttachment(attachmentsId, bugId)
        {
            $.confirm({
                title: 'Confirmation!',
                type: 'red',
                content: 'Do you want to Delete Attachment ?',
                buttons: {
                    confirm: function ()
                    {
                        if (attachmentsId != "")
                        {
                            var jsonObject =
                            {
                                attachmentsId: attachmentsId,
                                bugId: bugId
                            };

                            $.ajax({
                                type: "POST",
                                url: "/MyBugDetails/DeleteReplyAttachment",
                                dataType: "json",
                                data: jsonObject,
                                success: function (data, textStatus, xhr)
                                {
                                    if (data.Status === true)
                                    {
                                        alert("Attachment Deleted Successfully");
                                        location.reload();
                                    } else {
                                        alert("Something Went Wrong While Deleting Attachment Please Try Again after Sometime!");
                                    }

                                },
                                error: function (xhr, status, err) {
                                    if (xhr.status == 400) {
                                        DisplayModelStateErrors(xhr.responseJSON.ModelState);
                                    }
                                }
                            });
                        }
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
               
            
        }

    </script>
}
